@using PageTurners.Core.Entities

@model Book

@{
    ViewData["Title"] = "Детальніше про книгу";
}

@{
    <a asp-controller="Book" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Редагувати цю книгу</a>
}
<a asp-controller="Book" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Видалити</a>



<div class="container">
    <h1 class="display-4">Деталі про книгу</h1>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">Назва:</dt>
                <dd class="col-sm-8">@Model.Title</dd>

                <dt class="col-sm-4">Автор:</dt>
                <dd class="col-sm-8">@Model.Author</dd>

                <dt class="col-sm-4">Жанр:</dt>
                <dd class="col-sm-8">@Model.Genre</dd>

                <dt class="col-sm-4">Опис:</dt>
                <dd class="col-sm-8">@Model.Desc</dd>

                <dt class="col-sm-4">Видання:</dt>
                <dd class="col-sm-8">@Model.Edition</dd>

                <dt class="col-sm-4">Дата публікації:</dt>
                <dd class="col-sm-8">@Model.DatePubl</dd>
            </dl>
        </div>
    </div>

    <h4>
        Середній рейтинг:
    </h4>
        <h4>
        @Model.AverageRating
    </h4>

    <h4>Виставити рейтинг</h4>
    <form asp-controller="Book" asp-action="RateBook" method="post">
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <div class="form-group">
            <label for="ratingValue">Рейтинг (від 1 до 5):</label>
            <input type="number" name="ratingValue" class="form-control" min="1" max="5" required />
        </div>
        <button type="submit" class="btn btn-primary">Виставити рейтинг</button>
    </form>


    <h4>Коментарі</h4>
<hr />

    @if (Model.Comment != null && Model.Comment.Any())
    {
        <ul class="list-group">
            @foreach (var comment in Model.Comment)
            {
                <li class="list-group-item">
                    <div>
                        <strong>@comment.User.Name</strong> (@comment.Date.ToString("dd.MM.yyyy HH:mm")):
                    </div>
                    <div>
                        @comment.Comment
                    </div>
                    <div>
                        <form asp-action="DeleteComment" method="post">
                            <input type="hidden" name="commentId" value="@comment.Id" />
                            <button type="submit" class="btn btn-danger">Видалити коментар</button>
                        </form>
                    </div>
                </li>
            }
        </ul>
    }
else
{
    <p>Коментарі відсутні.</p>
}
  



    
    <h4>Додати коментар</h4>
    <form asp-controller="Book" asp-action="AddComment" method="post">
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <div class="form-group">
            <textarea name="newComment" class="form-control" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Додати коментар</button>
    </form>


</div>
