@using PageTurners.Core.Entities
@using Microsoft.AspNetCore.Authorization

@model Book

@{
    ViewData["Title"] = "Детальніше про книгу";
}

@if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
{
    <a asp-controller="Book" asp-action="Edit" asp-route-id="@Model.Id" class="btn-custom">Редагувати цю книгу</a>
    <a asp-controller="Book" asp-action="Delete" asp-route-id="@Model.Id" class="btn-custom-danger">Видалити</a>
}

<form asp-controller="UserBook" asp-action="LikeBook" method="post">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <button type="submit" class="btn-custom">Лайкнути книгу</button>
</form>
<div class="container">
    <h1 class="display-4">Деталі про книгу</h1>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <img src="/Book/GetBookImage/@Model.Id" alt="Зображення книги" />

            <dl class="row">
                <dt class="col-sm-4">Назва:</dt>
                <dd class="col-sm-8">@Model.Title</dd>

                <dt class="col-sm-4">Автор:</dt>
                <dd class="col-sm-8">@Model.Author</dd>

                <dt class="col-sm-4">Жанр:</dt>
                <dd class="col-sm-8">@Model.Genre</dd>

                <dt class="col-sm-4">Опис:</dt>
                <dd class="col-sm-8">@Model.Desc</dd>

                <dt class="col-sm-4">Видання:</dt>
                <dd class="col-sm-8">@Model.Edition</dd>

                <dt class="col-sm-4">Дата публікації:</dt>
                <dd class="col-sm-8">@Model.DatePubl</dd>
            </dl>
        </div>
    </div>

    <h4>
        Середній рейтинг:
    </h4>
    <h4>
        @Model.AverageRating
    </h4>
   

    <h4>Виставити рейтинг</h4>
    <form asp-controller="Book" asp-action="RateBook" method="post">
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <div class="form-group">
            <label for="ratingValue">Рейтинг (від 1 до 5):</label>
            <div id="star-rating" class="star-rating">
                <span class="star" data-value="1">☆</span>
                <span class="star" data-value="2">☆</span>
                <span class="star" data-value="3">☆</span>
                <span class="star" data-value="4">☆</span>
                <span class="star" data-value="5">☆</span>
            </div>
            <input type="hidden" id="selected-rating" name="ratingValue" />
        </div>
        <button type="submit" class="btn-custom">Виставити</button>
    </form>


</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const starRating = document.getElementById("star-rating");
        const selectedRating = document.getElementById("selected-rating");

        starRating.addEventListener("click", function (e) {
            const star = e.target;
            if (star.classList.contains("star")) {
                const value = star.getAttribute("data-value");
                selectedRating.value = value;
                updateStarRating(parseInt(value));
            }
        });

        starRating.addEventListener("mouseover", function (e) {
            const star = e.target;
            if (star.classList.contains("star")) {
                const value = star.getAttribute("data-value");
                updateStarRating(parseInt(value));
            }
        });

        starRating.addEventListener("mouseout", function () {
            const value = selectedRating.value;
            if (value) {
                updateStarRating(parseInt(value));
            } else {
                clearStarRating();
            }
        });

        function updateStarRating(value) {
            clearStarRating();
            for (let i = 1; i <= value; i++) {
                const star = starRating.querySelector(`[data-value="${i}"]`);
                star.textContent = "★";
            }
        }

        function clearStarRating() {
            const stars = starRating.querySelectorAll(".star");
            stars.forEach((star) => {
                star.textContent = "☆";
            });
        }
    });
</script>

<h4>Коментарі</h4>
<hr />

@if (Model.Comment != null && Model.Comment.Any())
{
    <ul class="list-group">
        @foreach (var comment in Model.Comment)
        {
            <li class="list-group-item">
            <li class="list-group-item">
                <div>
                        @if (comment.Commentator != null)
                        {
                        <strong>@comment.Commentator.Name</strong>
                            @($"({comment.Date.ToString("dd.MM.yyyy HH:mm")})")
                        }
                        else
                        {
                        <strong>Гість</strong>
                        }
                </div>

            </li>


            <div class ="comment-text">
                    @comment.Comment
                </div>
                <div class="comment-star-rating" data-comment-id="@comment.Id">
                    <span class="star comment-star" data-value="1">☆</span>
                    <span class="star comment-star" data-value="2">☆</span>
                    <span class="star comment-star" data-value="3">☆</span>
                    <span class="star comment-star" data-value="4">☆</span>
                    <span class="star comment-star" data-value="5">☆</span>
                    <input type="hidden" class="comment-selected-rating" name="commentRating" />
                </div>
                <div>
                    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                    {
                    <form asp-action="DeleteComment" method="post">
                        <input type="hidden" name="commentId" value="@comment.Id" />
                        <button type="submit" class="btn-custom-danger">Видалити коментар</button>
                    </form>
                    }

                </div>
            </li>
        }
    </ul>
}
else
{
    <p>Коментарі відсутні.</p>
}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const commentStarRatings = document.querySelectorAll(".comment-star-rating");

        commentStarRatings.forEach(function (commentStarRating) {
            commentStarRating.addEventListener("click", function (e) {
                const star = e.target;
                if (star.classList.contains("star")) {
                    const value = star.getAttribute("data-value");
                    const commentId = commentStarRating.getAttribute("data-comment-id");
                    const targetId = `comment-${commentId}`;
                    const commentSelectedRating = document.querySelector(`.${targetId} .comment-selected-rating`);
                    commentSelectedRating.value = value;
                    updateStarRating(parseInt(value), targetId);
                }
            });

            commentStarRating.addEventListener("mouseover", function (e) {
                const star = e.target;
                if (star.classList.contains("star")) {
                    const value = star.getAttribute("data-value");
                    const commentId = commentStarRating.getAttribute("data-comment-id");
                    const targetId = `comment-${commentId}`;
                    updateStarRating(parseInt(value), targetId);
                }
            });

            commentStarRating.addEventListener("mouseout", function () {
                const commentId = commentStarRating.getAttribute("data-comment-id");
                const targetId = `comment-${commentId}`;
                clearStarRating(targetId);
            });
        });

        function updateStarRating(value, targetId) {
            clearStarRating(targetId);
            const targetStarRating = document.querySelector(`.${targetId}`);
            for (let i = 1; i <= value; i++) {
                const star = targetStarRating.querySelector(`[data-value="${i}"]`);
                star.textContent = "★";
            }
        }

        function clearStarRating(targetId) {
            const stars = document.querySelectorAll(`.${targetId} .star`);
            stars.forEach((star) => {
                star.textContent = "☆";
            });
        }
    });
</script>


<h4>Додати коментар</h4>
<form asp-controller="Book" asp-action="AddComment" method="post">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <div class="form-group">
        <textarea name="newComment" class="form-control" rows="4"></textarea>
    </div>
    <button type="submit" class="btn-custom">Додати коментар</button>
</form>


</div>


<style>

    body {
        background-image: url('/images/back.jpg');
        background-size: cover; /* Масштабування зображення, щоб воно покривало всю сторінку */
        background-repeat: no-repeat; /* Вимкнення повторення зображення */
        background-attachment: fixed; /* Фон залишається фіксованим під час прокручування сторінки */
    }

    /* Основний стиль кнопок */
    .btn-custom {
        background-color: #FFA500; 
        color: #fff;
        border: none;
        box-shadow: 2px 2px 4px #888888; /* Тінь */
        padding: 10px 20px;
        transition: background-color 0.3s, transform 0.2s; /* Плавне зміна кольору та інтерактив на наведенні */
        display: inline-flex; /* Використовуємо Flexbox для розтягування */
        align-items: center; /* Вирівнюємо по вертикалі */
    }

        /* Стиль кнопок при наведенні */
        .btn-custom:hover {
            background-color: #FF6600; 
            transform: scale(1.05); /* Збільшує розмір кнопки на наведенні */
        }

    /* DANGER стиль кнопок */
    .btn-custom-danger {
        background-color: #bd1d08; 
        color: #fff;
        border: none;
        box-shadow: 2px 2px 4px #888888; 
        padding: 10px 20px; 
        transition: background-color 0.3s, transform 0.2s;
        display: inline-flex; /* Використовуємо Flexbox для розтягування */
        align-items: center; /* Вирівнюємо по вертикалі */
    }

        .btn-custom-danger:hover {
            background-color: #851e10; 
            transform: scale(1.05);
        }

    /* Стилі для коментарів */
    .comment-text {
        background-color: rgba(255, 255, 255, 0.9); /* Прозорий білий фон для тексту коментарів */
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px; /* Закруглені кути */
        border: 1px solid #ddd; /* Рамка навколо коментарів */
    }

    .comment-star-rating {
        display: flex;
        align-items: center;
        margin-top: 5px;
    }

    .comment-star {
        cursor: pointer;
        font-size: 20px;
        margin-right: 5px;
        transition: color 0.3s;
    }

        .comment-star:hover {
            color: #FFA500; /* Змінюємо колір при наведенні */
        }

    .comment-selected-rating {
        display: none;
    }

    .comment-star-rating:before {
        content: "Виставити рейтинг коментатору за відгук: ";
    }

    /* Стилі для зірочок рейтингу */
    .star-rating {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .star {
        cursor: pointer;
        font-size: 24px;
        margin-right: 5px;
        transition: color 0.3s;
    }

        .star:hover {
            color: #FFA500; /* Змінюємо колір при наведенні */
        }

    .selected-rating {
        display: none;
    }

    .star-rating:before {
        content: "Ваш рейтинг для цієї книги: ";
    }


</style>