@model List<PageTurners.Core.Entities.ForumTopic>
@using PageTurners.Core.Entities

<h1>Форум</h1>

@if (User.Identity.IsAuthenticated)
{

    <a asp-controller="Book" asp-action="CreateTopic" class="btn-custom">Додати обговорення</a>

}

@foreach (var topic in Model)
{
    <div class="forum-topic">
        <h2>@topic.Title</h2>
        <!-- Показати інформацію про тему -->
        <div class="forum-posts">
            @foreach (var post in topic.Posts)
            {
                <div class="forum-post">
                    <p>@post.Content</p>
                    <p>Автор: @post.User.UserName</p>
                    <p>Дата створення: @post.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</p>
                </div>
            }
        </div>
        <div class="forum-actions">
            <a asp-action="ViewTopic" asp-route-topicId="@topic.Id">Переглянути тему</a>
            <a asp-action="CreatePost" asp-route-topicId="@topic.Id">Додати повідомлення</a>
        </div>
    </div>
}
